@media (max-width:1256px) {
    #columna2-header{
        width: 54%;
    }
    .list-item.options .parrafo.lista{
        font-size: 0.95em;
    }
}
@media (max-width:1232px) {
    .list-item.options .parrafo.lista{
        font-size: 12px;
    }
    .list.hiden-class{
        margin-left: 10px;
    }

}
@media (max-width:1053px) {
    #columna1-header{
        width: 50%;
    }
    #columna2-header{
        display: none;
    }
    #columna3-header{
    }
    .list-item.options .parrafo.lista{
        font-size: 0.95em;
    }
    .list-item.optionsTwo:nth-child(1){
        display: none;
    }
    .list-item.optionsTwo:nth-child(3){
        display: none;
    }
    #login-options{
        margin-left:50%;
    }
}
@media (max-width:380px) {
    #sub-head{
        padding: 0;
    }
    #sub-head .row .col:first-child{
        display: none;
    }
    #sub-head .row .col:last-child{
        display: none;
    }
}